*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card {
    width: 400px;
    height: 400px;
    margin: auto;
    margin-top: 20px;
    position: relative;
    padding: 30px 10px 10px 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: whitesmoke;
}

.card a {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 5px;
    top: 5px;
    border-radius: 5px;
}

.card a::before,
.card a::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 4px;
    border-radius: 2px;
    top: 20px;
    left: -10px;
    background-color: black;
}

.card a::before {
    transform: rotate(45deg);
}

.card a::after {
    transform: rotate(-45deg);
}

.card-header {
    display: flex;
    align-items: flex-end;
}

.card-header h2,
.card-header span {
    font-family: sans-serif;
}

.card-header h2 {
    font-size: 20px;
    color: black;
    padding-right: 20px;
}

.card-header span {
    font-size: 14px;
    color: gray;
    padding-bottom: 4px;
    margin-left: 10px;
}

.card-body h2,
.card-body p {
    font-family: sans-serif;
}

.card-body h2 {
    padding-top: 30px;
    font-size: 14px;
    color: black;
}

.card-body p {
    padding-top: 15px;
    color: black;
}